
<style>
    @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700');
    @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Monofett&display=swap');
</style>
<body>
<div class ="page">
<header>
    <div class = "header">
        <h1>
            <a routerLink="/home">ALEXANDROS'S CINEMA</a>
        </h1>
        <h4>
            <a routerLink="/prenotazione">PRENOTAZIONE</a>
        </h4>
        <h4>REGISTRATI</h4>
        <h4>CHI SIAMO</h4>
    </div>
</header>
<div class = "container">
    <router-outlet></router-outlet>
</div>
<footer>
    
</footer>
</div>
</body>
