

<div class="container">
<!-- <mat-card class="info">
  <mat-card-content>
      <h4>Prenota il tuo biglietto subito!</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quo doloremque ipsam incidunt laborum assumenda eveniet ut ad enim autem repellat id iusto expedita et, numquam iure corporis atque earum!</p>
  </mat-card-content>
</mat-card> -->



<mat-card class="form">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>LOGIN</h2>
      <mat-error *ngIf="loginInvalid">
        Username e Password non riconosciuti!
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-error>
          Inserire un username valido!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Inserire una password valida!
        </mat-error>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary">Accedi</button>
      <a mat-raised-button color="accent" routerLink="/registrati" routerLinkActive="active">Registrati</a>
      <br/><br/>
    </form>
  </mat-card-content>
</mat-card>
</div>